<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crea contactos en Vtiger</title>
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="./assets/css/main-style.css">
        <script src="./assets/js/vue.min.js"></script>
        <script src="./assets/js/axios.min.js"></script>
        <script src="./assets/js/jquery.min.js"></script>
        <script src="./assets/js/bootstrap.js"></script>
        <script src="./assets/js/config/constants.js"></script>
    </head>
    <body>
        <div class="dashboard-main-wrapper">
            <!-- Header -->
            <header>
                <nav class="navbar navbar-expand-lg header-main navbar-dark">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <span id="header-text-title"> Crear contacto </span>
                    </div>
                </nav>
            </header>
            <!-- Header -->
            <!--<formulario>-->
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-md-1 col-12"></div>
                    <div class="col-md-10 col-12">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <form id="formulario_contacto">
                                    <div class="form-group">
                                        <label for="formGroupExampleInput">Nombre</label>
                                        <input type="text" class="form-control" id="form-nombre" v-model="contacto.nombre" placeholder="Escriba su nombre">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput2">Apellido</label>
                                        <input type="text" class="form-control" id="form-apellido" v-model="contacto.apellido" placeholder="Escriba su Apellido">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" id="form-mail" v-model="contacto.mail" placeholder="Escriba su correo">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Telefono</label>
                                        <input type="text" class="form-control" id="form-phone" v-model="contacto.phone" placeholder="Escriba su numero telefonico">
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="check-error" v-model="contacto.error" >
                                        <label class="form-check-label" for="check-error">Modo error</label>
                                        <small id="error-help" class="form-text text-muted">Active el modo error para probar el mensaje de error de registro.</small>
                                    </div>
                                    <button type="button" id="btn-enviar" class="btn btn-primary" data-dismiss="modal" @click="enviar()">Enviar</button>
                                  </form>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="col-md-1 col-12"></div>
                </div>
            </div>
            <!--</formulario>-->
        </div>
        <div class="modal fade" id="modal_mensaje" tabindex="2" role="dialog" aria-labelledby="modalmensajeTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_title">
                            Registro de contactos
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-mensaje"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="./assets/js/controllers/inicio.js"></script>
</html>